<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.groupify.groupify">

    <application
        android:name=".GroupifyApplication"
        android:allowBackup="true"
        android:icon="@drawable/groupify_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <data
                    android:host="@string/groupify_on_auth_path"
                    android:scheme="@string/groupify_on_auth_host" />

                <data android:host="group"
                    android:scheme="groupify"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".onboarding.OnBoardingActivity"/>

    </application>

</manifest>